:host {
    font-family: Arial, sans-serif;
    font-size: 18px;

    button {
        line-height: 20px;
        padding: 10px;
        margin: 20px;
        min-width: 100px;
        cursor: pointer;
    }
}