<h1>Control Value Accessor All The Things</h1>

<h2>Basic</h2>

<h3>Value</h3>
<div>
    {{ basic.value }}
</div>

<h3>Dirty</h3>
<div>
    {{ basic.dirty }}
</div>

<h3>Touched</h3>
<div>
    {{ basic.touched }}
</div>

<app-input [formControl]="basic"></app-input>


<h2>Advanced Address Controls With Validation</h2>

<h3>Dirty</h3>
<div>
    {{ addresses.dirty }}
</div>

<h3>Touched</h3>
<div>
    {{ addresses.touched }}
</div>

<h3>Value</h3>
<div>    
    {{ addresses.value | json }}
</div>

<h3>Status</h3>
<div>    
    {{ addresses.statusChanges | async }}
</div>


<div *ngFor="let control of addresses.controls; index as i">
    <app-address-editor [formControl]="addresses.controls[i]" ></app-address-editor>
    <div>    
        {{ addresses.controls[i].status  }}
    </div>
    <div>    
        {{ addresses.controls[i].errors | json }}
    </div>
</div>
    
<button [disabled]="!addresses.valid || !addresses.dirty">Save</button>